*{
    box-sizing: border-box;                         /*setup*/
}


html body {                                         /*setup*/
    width: 100%;                                    /*setup*/
    height: 100%;                                   /*setup*/
    margin: 0;                                      /*setup*/
}

.box {
    color:white;                                    /*setup*/
    font-size: 20px;                               /*setup*/
    text-align: center;                             /*setup*/
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);         /*setup*/
    padding: 10px;
}

.box1 {background:#1abc9c;}                         /*setup*/
.box2 {background:#3498db;}                         /*setup*/
.box3 {background:#9b59b6;}                         /*setup*/
.box4 {background:#34495e;}                         /*setup*/
.box5 {background:#f1cf0f;}                         /*setup*/
.box6 {background:#e67e22;}                         /*setup*/
.box7 {background:#e74c3c;}                         /*setup*/
.box8 {background:#bdc3c7;}                         /*setup*/
.box9 {background:#2ecc71;}                         /*setup*/
.box10 {background:#16a085;}                        /*setup*/



.container {
    border: 10px solid yellow;
    display: flex; /* display: flex; initiates flexbox properties and html components will now be displayed in a row.*/
    justify-content:space-between;
    flex-direction: column;
    min-height: 100vh;
}

.box {
}




